body {
    width: calc(100vw - 16px);
    height: calc(100vh - 16px - 4px);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    padding: 8px;
}

header,
main {
    background-color: white;
    border: 1px solid black;
}

header {
    flex-basis: content;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding: 0;
}

canvas {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
}

button {
    width: 5vw;
    height: 5vw;
    display: flex;
    padding: 0.5vw;
    margin: 8px;

    border-radius: 40px;
    border: 2px solid black;

    color: black;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sizeWarning {
    display: none;
    height: 100%;
    width: 100%;
    background-color: white;
}

#paint {
    border-width: 4px;
}

/* Media Query for tablets */
@media (max-width: 43em) {
    body {
        background-color: #aa0000;
    }
    #sizeWarning {
        display: block;
    }
    header,
    main {
        display: none;
    }
}
/* Media Query for small displays */
@media (min-width: 62em) {
    body {
        background-color: #00aa00;
    }
}
/* Media Query for large displays */
@media (min-width: 82em) {
    body {
        background-color: #0000aa;
    }
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }

    header {
        flex-direction: row;
    }

    .button-wrapper {
        flex-direction: column;
    }

    button {
        width: 5vh;
        height: 5vh;
    }
}

/***** Size-Buttons *****/

.size {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    background-image: url(../img/circle.svg);
}

#xs {
    background-size: 16px;
}

#s {
    background-size: 20px;
}

#m {
    background-size: 24px;
    border-width: 4px;
}

#l {
    background-size: 28px;
}

#xl {
    background-size: 32px;
}

/***** Color-Buttons *****/

#white {
    background-color: #ffffff;
}

#yellow {
    background-color: #ffff00;
    border-width: 4px;
}

#orange {
    background-color: #ff9900;
}

#red {
    background-color: #ff0000;
}

#pink {
    background-color: deeppink;
}

#violet {
    background-color: blueviolet;
}

#blue {
    background-color: dodgerblue;
}

#sky {
    background-color: deepskyblue;
}

#turquoise {
    background-color: aquamarine;
}

#green {
    background-color: lawngreen;
}

#greenyellow {
    background-color: greenyellow;
}
