.wrapper {
    width: 972px;
    margin: 0px auto;
}

header, main {
    background-color: white;
    margin: 0px;
    box-shadow: 0px 5px 10px grey;
}

main {
    height: 700px;
}

button {
    border-radius: 40px;
    border: 2px solid black;
    color: black;
    margin: 10px;
    padding: 30px;
    text-align: center;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
}


/***** Buttons *****/

#save {
    background-image: url(../img/check-solid.svg);
}

#cancel {
    background-image: url(../img/plus-solid.svg);
    transform: rotate(45deg);
}

#undo {
    background-image: url(../img/undo-solid.svg);
}

#paint {
    background-image: url(../img/paint-brush-solid.svg);
    border-width: 4px;
}

#fill {
    background-image: url(../img/fill-solid.svg);
}

#shape {
    background-image: url(../img/star-regular.svg);
}

/***** Size-Buttons *****/

.size {
    background-image: url(../img/circle.svg);
}

#xs {
    background-size: 16px;
}

#s {
    background-size: 20px;
}

#m {
    background-size: 24px;
    border-width: 4px;
}

#l {
    background-size: 28px;
}

#xl {
    background-size: 32px;
}

/***** Color-Buttons *****/

#white {
    background-color: #ffffff;
}

#yellow {
    background-color: #ffff00;
    border-width: 4px;
}

#orange {
    background-color: #ff9900;
}

#red {
    background-color: #ff0000;
}

#pink {
    background-color: deeppink;
}

#violet {
    background-color: blueviolet;
}

#blue {
    background-color: dodgerblue;
}

#sky {
    background-color: deepskyblue;
}

#turquoise {
    background-color: aquamarine;
}

#green {
    background-color: lawngreen;
}

#greenyellow {
    background-color: greenyellow;
}
