body {
    width: calc(100vw - 16px);
    height: calc(100vh - 16px - 4px);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    padding: 8px;
}

header {
    background-color: white;
}

main {
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header {
    flex-basis: content;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding: 0;
}

canvas {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
}

button {
    width: 5vw;
    height: 5vw;
    display: flex;
    padding: 1vw;
    margin: 8px;
    border: none;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button:active,
button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23), 0 3px 6px rgba(0, 0, 0, 0.36);
}

button.active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55), 0 4px 8px rgba(0, 0, 0, 0.5);
}

.btn-color:active,
.btn-color:hover {
    box-shadow: 0 3px 6px currentColor;
}

.btn-color.active {
    box-shadow: 0 6px 14px currentColor;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sizeWarning {
    display: none;
    height: 100%;
    width: 100%;
    background-color: white;
}

/* Media Query for tablets */
@media (max-width: 43em) {
    body {
        background-color: #aa0000;
    }
    #sizeWarning {
        display: block;
    }
    header,
    main {
        display: none;
    }
}
/* Media Query for small displays */
@media (min-width: 62em) {
    body {
        background-color: #00aa00;
    }
}
/* Media Query for large displays */
@media (min-width: 82em) {
    body {
        background-color: #0000aa;
    }
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }

    header {
        flex-direction: row;
    }

    .button-wrapper {
        flex-direction: column;
    }

    button {
        width: 5vh;
        height: 5vh;
    }
}

/***** Size-Buttons *****/

.btn-size {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    background-image: url(../img/circle.svg);
}

#xs {
    background-size: 16px;
}

#s {
    background-size: 20px;
}

#m {
    background-size: 24px;
}

#l {
    background-size: 28px;
}

#xl {
    background-size: 32px;
}
